<style>
    .nav-link {
        color: #ff5733; /* Change this to your desired color */
    }
</style>

@inherits LayoutComponentBase

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Togo Solidarite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Member List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/membercreate">Add new Member</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/membershipcreate">Add new Contribution</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/claimcreate">Add new Claim</a>
            </li>
        </ul>
    </nav>
</header>

<div class="container">
    @Body
</div>
