@page "/aboutus"
<div class="my-3 d-flex flex-wrap justify-content-between">
<h3>What we do</h3>
</div>
<p>Our company is a family run business that has been established for over 30 years. We have a wealth of experience in the industry and have built up a reputation for providing high quality products and excellent customer service. We are committed to providing our customers with the best possible service and are always on hand to offer advice and guidance. Our team of experts are highly skilled and knowledgeable and are dedicated to ensuring that our customers are completely satisfied with their purchase. We are passionate about what we do and take great pride in our work. We are always looking for ways to improve our service and welcome feedback from our customers. If you have any questions or would like more information about our products and services, please do not hesitate to contact us. We look forward to hearing from you.</p>
<br />
<h3>Our Mission</h3>
<p>Our mission is to provide our customers with the best possible service and to ensure that they are completely satisfied with their purchase. We are committed to providing high quality products and excellent customer service and are always looking for ways to improve our service. We are passionate about what we do and take great pride in our work. We are dedicated to ensuring that our customers are happy with their purchase and are always on hand to offer advice and guidance. We are always looking for ways to improve our service and welcome feedback from our customers. If you have any questions or would like more information about our products and services, please do not hesitate to contact us. We look forward to hearing from you.</p>
<br />

@code {

}
