@page "/membershipcreate/{id:guid}/edit"
@page "/membershipcreate"
@inherits CreateMembershipComponent

@if (IsAlertVisible)
{
    <div class="alert alert-success fade-in" role="alert" visibility="@IsVisible">
        @AlertMessage
    </div>
}

<h3 class="priceTextOverride">Add Member's contribution</h3>
<hr />
<form>
    <EditForm EditContext="EditContext">
        <div class="mb-4 row">
            <div class="form-group col-md-4">
                <label for="inputCity"><b>Contribution purpose</b></label>
                <InputText id="Title"
                           class="form-control form-control-lg"
                           @bind-Value="Contribution.ContributionName" />
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip"><b>Amount contributed</b></label>
                <InputNumber id="Amount"
                             class="form-control form-control-lg"
                             @bind-Value="Contribution.Amount" />
            </div>
            <div class="form-group col-md-3">
                <label for="inputCity"><b>Member Firstname</b></label>
                <InputText id="Title"
                           class="form-control form-control-lg"
                           @bind-Value="Contribution.MemberFirstName"
                           disabled="@Edit" />
            </div>
            <div class="form-group col-md-3">
                <label for="inputCity"><b>Member Surname</b></label>
                <InputText id="Title"
                           class="form-control form-control-lg"
                           @bind-Value="Contribution.MemberLastName"
                           disabled="@Edit" />
            </div>
        </div>
        <div class="mb-3 row">
            <div class="form-group col-md-4">
                <label for="inputCity"><b>Date of Contribution</b></label>
                <InputDate id="DateOfBirth"
                           class="form-control-lg"
                           @bind-Value="Contribution.DateOfContribution" />
            </div>
        </div>
        <br />
        <div class="btn-group" role="group">
            <button id="member-update"
                    class="btn btn-primary"
                    @onclick="Submit"
                    title="Save member">
                Save
            </button>
            &nbsp;
            <button id="member-delete"
                    class="btn btn-danger"
                    @onclick="@GoBack"
                    title="Cancel member">
                Cancel
            </button>
        </div>
    </EditForm>
</form>