@page "/membercreate"
@inherits CreateMemberComponent

@if (DisplayAlert)
{
    <div class="alert alert-success fade-in" role="alert" visibility="@IsVisible">
        @AlertMessage
    </div>
}
<div class="my-3 d-flex flex-wrap justify-content-between">
    <h3 class="priceTextOverride">Add new Member</h3>
</div>
<hr />
<form>
 <EditForm EditContext="EditContext">
<div class="mb-5 row">
    <div class="form-group col-md-1">
      <label for="inputCity"><b>Title</b></label>
      <InputText id="Title"
                     class="form-control form-control-lg"
                     @bind-Value="Member.Title"/>
    </div>
    <div class="form-group col-md-3">
      <label for="inputState"><b>Firstname</b></label>
      <InputText id="FirstName"
                     class="form-control form-control-lg"
                     @bind-Value="Member.FirstName" />
    </div>
    <div class="form-group col-md-3">
                <label for="inputZip"><b>Surname</b></label>
      <InputText id="LastName"
                     class="form-control form-control-lg"
                     @bind-Value="Member.LastName"/>
    </div>
    <div class="form-group col-md-2">
      <label for="inputState"><b>Next of kin</b></label>
      <InputText id="FirstName"
                     class="form-control form-control-lg"
                     @bind-Value="Member.NextOfKin" />
    </div>
    <div class="form-group col-md-2">
      <label for="inputState"><b>Relationship to you</b></label>
      <InputText id="FirstName"
                     class="form-control form-control-lg"
                     @bind-Value="Member.Relationship" />
    </div>
  </div>
   <div class="mb-4 row">
    <div class="form-group col-md-4">
      <label for="inputCity"><b>1st line of address</b></label>
      <InputText id="Address"
                     class="form-control form-control-lg"
                     @bind-Value="Member.Address"/>
    </div>
    <div class="form-group col-md-2">
      <label for="inputState"><b>Postcode</b></label>
      <InputText id="Postcode"
                     class="form-control form-control-lg"
                     @bind-Value="Member.Postcode" />
    </div>
    <div class="form-group col-md-3">
      <label for="inputZip"><b>City</b></label>
      <InputText id="City"
                     class="form-control form-control-lg"
                     @bind-Value="Member.City"/>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip"><b>Telephone</b></label>
      <InputText id="Telephone"
                     class="form-control form-control-lg"
                     @bind-Value="Member.Telephone"/>
    </div>
  </div>
  <div class="form-group">

    <div class="form-check">
      <InputCheckbox id="IsChair"
                     class="form-check-input"
                     @bind-Value="Member.IsActive" />
      <label class="form-check-label" for="gridCheck">
        <b>Is active member?</b>
      </label>
    </div>
  </div>
  <br />
      <div class="mb-3 row">
        <div class="form-group col-md-4">
          <label for="inputCity"><b>Date of birth</b></label>
          <InputDate id="DateOfBirth"
                         class="form-control-lg"
                         @bind-Value="Member.DateOfBirth" />          
        </div> 
        <div class="form-group col-md-4">
          <label for="inputState"><b>Date joined</b></label>
          <InputDate id="MembershipDate"
                         class="form-control-lg"
                         @bind-Value="Member.MembershipDate" />         
      </div>      

      </div>
      <br />
      <div class="btn-group" role="group">
           <button id="member-update"
                   class="btn btn-primary"
                   @onclick="Submit"
                   title="Save member">
               Save
           </button>
           &nbsp;
           <button id="member-delete"
                   class="btn btn-danger"
                   @onclick="@NavigateToHome"
                   title="Cancel member">
               Cancel
           </button>
       </div> 
 </EditForm>
 </form>