@inherits MembreItemComponent

<div id="member-content">
    <div class="d-flex justify-content-between align-items-center">
        <div class="col-sm-8 col-md-9 col-lg-10">
            <div class="d-flex">
                <div class="text-break">
                    <span id="member-name" class="text-break font-weight-bold d-block text-area">
                        <b>@Member.FirstName &nbsp;@Member.LastName</b>
                    </span>   
                </div>
            </div>
        </div>
        <div class="btn-group" role="group">
            <button id="member-delete"
                    class="btn btn-outline-danger"
                    @onclick="() =>{}"
                    title="Remove member">
                Remove
            </button>
        </div>
    </div>
</div>