@page "/memberdetail/{id:int}"
@inherits MemberDetailComponent

<EditForm EditContext="EditContext">
    <fieldset>
        <div class="mx-3">
            <div class="form-group">
          <label for="FirstName">FirstName</label>
          <InputText id="FirstName"
                     class="form-control"
                     @bind-Value="Member.FirstName"/>
      </div>
      <div class="form-group">
          <label for="LastName">LastName</label>
          <InputText id="LastName"
                     class="form-control"
                     @bind-Value="Member.LastName" />
      </div>        
       <div class="form-group">
          <label for="DateOfBirth">Date Of Birth</label>
          <br/>
          <InputDate id="DateOfBirth"
                     class="form-control-lg"
                     @bind-Value="Member.DateOfBirth" />
      </div> 
       <div class="form-group">
          <label for="MembershipDate">Date joined</label>
          <br/>
          <InputDate id="MembershipDate"
                     class="form-control-lg"
                     @bind-Value="Member.MembershipDate" />
      </div>      
      <div>
          <label for="IsActive">Is active member?</label>               
          <InputCheckbox id="IsActive"
                     class="form-check-input"
                     @bind-Value="Member.IsActive" />
      </div>       
       <div >
          <label for="Telephone">Is president?</label>
          <InputCheckbox id="Telephone"
                     class="form-check-input"
                     @bind-Value="Member.IsChair" />
      </div>     
       <div class="form-group">
          <label for="PhotoUrl">Photo</label> 
          <br/>
           <div class="modal-dialog-centered">
                               @if(Member.Title == "Mr")
                               {
                                    <img src="http://findicons.com/files/icons/1688/web_blog/48/user_male_white_red_brown.png" alt="male">     
                               }
                               else if(Member.Title == "Miss" || Member.Title == "Mrs")
                               {
                                    <img src="http://findicons.com/files/icons/1688/web_blog/48/user_female_white_pink_black.png" alt="female">     
                               }
                           </div>          
      </div>
       <br/>
       <div class="btn-group" role="group">
           <button id="member-update"
                   class="btn btn-outline-primary"
                   @onclick="@(()=>{})"
                   title="Update member">
               Update
           </button>
           &nbsp;
           <button id="member-delete"
                   class="btn btn-outline-danger"
                   @onclick="@(()=>{})"
                   title="Cancel member">
               Cancel
           </button>
       </div>      
        </div>
     
       </fieldset>
</EditForm>