@page "/memberdetail"
@inherits MemberDetailComponent

<h3>Member Detail</h3>
<EditForm EditContext="EditContext">
 <div>
           <div class="form-group">
               <label for="FirstName">FirstName</label>
               <InputText id="FirstName"
                          class="form-control"
                          @bind-Value="Member.FirstName"/>
           </div>
           <div class="form-group">
               <label for="LastName">LastName</label>
               <InputText id="LastName"
                          class="form-control"
                          @bind-Value="Member.LastName" />
           </div>
           <div class="form-group">
               <label for="Birth">Date Of Birth</label>
               <InputText id="Birth"
                          class="form-control"
                          @bind-Value="Member.DateOfBirth.ToString()" />
               @*<Calendar id="calendar" OnChange=@OnChange></Calendar>*@
           </div>     

           <div class="form-group">
               <label for="IsActive">IsActive</label>
               <InputSelect id="IsActive"
                          class="form-control"
                          @bind-Value="Member.IsActive" />
           </div>
            <div class="form-group">
               <label for="Telephone">IsChair</label>
               <InputSelect id="Telephone"
                          class="form-control"
                          @bind-Value="Member.IsChair" />
           </div>           
           <div class="form-group">
               <label for="PhotoUrl">PhotoUrl</label>
               <InputText id="PhotoUrl"
                          class="form-control"
                          @bind-Value="Member.PhotoUrl" />
           </div>
           <div class="form-group">
               <label for="Joined">Date Joined</label>
                <InputText id="Joined"
                          class="form-control"
                          @bind-Value="Member.MembershipDate.ToString()" />
               @*<Calendar id="calendar" OnChange=@OnChange></Calendar>*@
           </div>
       </div>
       <br/>
       @*<div class="btn-group" role="group">
           <button id="customer-update"
                   class="btn btn-outline-primary"
                   @onclick="null"
                   title="Update customer">
               Update
           </button>
           &nbsp;
           <button id="customer-delete"
                   class="btn btn-outline-danger"
                   @onclick="null"
                   title="Cancel customer">
               Cancel
           </button>
       </div>*@
</EditForm>