@inherits SearchBarComponent

<div>
    <b>Search:</b>
    <input type="search" @bind-value="Filter" placeholder="please enter surname" />&nbsp;
    <button class="btn btn-primary" @onclick="HandleSearch">Search</button>
</div>
